body{
    background-color: rgb(232, 235, 229);
    

}
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }
.containerx{
    align-items: center;
    
}

#heading{
    text-align: center;
    margin-top: 50px;
    background-color: rgb(10, 148, 240);
    color: white;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
#size{
    padding-top: 10px;
    padding-left: 10px;
    color:rgb(5, 115, 189) ;
    font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size:x-large;
    font-weight: 650;
}
#time{
    padding-left: 10px;
    font-size: medium;
    padding-bottom: 5px;
}

.ques-container{
    background-color: white;
    display:block;
    background-color: white;
    border-radius:inherit;
}
@media only screen and (min-width: 1024px) and (max-width: 2000px) {
  
    .containerx{
        padding-left: 100px;
        padding-right: 100px;
    }
    .ques-container{
        font-size:x-large;
    
    }
    
  }

@media only screen and (min-width: 320px) and (max-width: 480px) {
  
    .containerx{
        align-items: left;
        
        
    }
    #heading{
        text-align:center ;
        margin-top: 50px;
        background-color: rgb(10, 148, 240);
        color: white;
        
    }
    .ques-container{
        font-size:large;
        background-color: rgb(255, 255, 255);
    
    }
    
    
}
